{% extends 'base.html' %}

{% block content %}
<h1>Your Playlist</h1>
<div class="article-entry">
    {% for playlist in object_list %}
        <div class="card">
            <div class="card-header">
                By: {{ playlist.playlist_author }}
            </div>
            <div class="card-body">
              <h5 class="card-title">{{ playlist.name }}</h5>
              <a href="{{ playlist.playlist_url }}" class="btn btn-primary">Listen this Playlist</a>
              <a href="{% url 'tracks' %}" class="btn btn-primary">Check out the playlist tracks</a>
              <a href="{% url 'playlist_switch' playlist.pk %}" class="btn btn-primary" style="border-color: red; background-color: red;">Switch Playlist</a>
            </div>
          </div>
    {% endfor %}
</div>
{% endblock content %}